/* * {
  box-sizing: border-box;
  text-align: center;
  font-family: "Poppins", sans-serif;
} */

/* .container {
  padding-inline: 100px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.header {
  margin-top: 100px;
}

.header__title {
  font-weight: 600;
  font-size: 40px;
}
.quote__title {
  padding-inline: 100px;
}
.body_text {
  margin-top: 40px;
  text-align: left;
}

.my_line {
  margin-block: 20px;
} */
