* {
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  width: 100%;
  /* position: -webkit-sticky; */
  top: 0;
  background: rgba(0, 0, 0);
  /* border-radius: 16px; */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.8px);
  -webkit-backdrop-filter: blur(11.8px);
  height: 100px;
  z-index: 50;
}

.navbar-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding-inline: 100px;
  background-color: transparent;
}

.navbar_home_link {
  text-decoration: none;
}

.navbar_left_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
}
.navbar_link_list_wrapper {
  width: fit-content;
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.navbar_link_list_item {
  display: flex;
  text-decoration: none;
  height: 100%;
  margin-right: 20px;
  align-items: center;
}

.navbar_link_list_link {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
}

.navbar_link_list_item:hover {
  border-bottom: 3px solid rgb(255, 255, 255);
}

.navbar_user_profile {
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(182, 173, 190);
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.navbar_profile_image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
}

.navbar_profile_wrapper {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.8px);
  -webkit-backdrop-filter: blur(11.8px);
  position: absolute;
  top: 78px;
  right: 20px;
  width: 300px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.navbar_profile_image {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: auto;
}

.navbar_profile_menu_container {
  padding-inline: 10px;
}
.navbar_profile_container {
  margin-top: 10px;

  display: flex;
  align-items: center;
  flex-direction: row;
}

.navbar_profile_container_image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.navbar_profile_container_text {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  font-size: 10px;
}
.navbar_profile_container_text > p {
  font-size: 18px;
  font-weight: bold;
}

.navbar_profile_container_text > a {
  font-size: 16px;
}

.navbar_logout_button {
  margin-top: 20px;
  padding-inline: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: grey;
  cursor: pointer;
}
.navbar_logout_button:hover {
  background-color: gray;
  color: rgb(14, 13, 13);
}

.navbar_logout_button > i {
  font-size: 30px;
}

.navbar_logout_button > p {
  margin-left: 20px;
  font-size: 20px;
}
