.section-container {
  margin-top: 10px;
  padding-inline: 78px;
}

.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: red; */
  padding-inline: 60px;
}

.section-header-title {
  text-align: left;
  font-family: "Noto Serif" serif;
  font-weight: 200;
  font-size: 38px;
}

.section-header-subtitle {
  font-family: "Noto Serif" serif;
  font-weight: lighter;
  font-size: 20px;
}
.section-underline {
  background-color: black;
  width: 187px;
  height: 2;
}

.section-header-left-title {
  font-family: "Noto serif" serif;
}

@media screen and (max-width: 780px) {
  .section-container {
    padding-inline: 20px;
    margin-top: 10px;
    /* background-color: red; */
  }
  .section-header {
    margin-top: 26px;
    padding-inline: 10px;
  }
  .section-header-title {
    font-size: 20px;
  }
  .section-header-subtitle {
    display: none;
  }
}
